* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: rgba(189, 229, 236, 0.644);
}


header {
    text-align: left;
    padding: 0.5px;
    background-color: #fafbfc;
  
}

.navbar {
    background-color: #fafbfc;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding:20px 1px 1px;
}

.links {
    text-decoration: none;
    font-weight: 500;
    color: #333;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.nav-right{
    margin-bottom: 10px;
    float:inline-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem
    
}
h1 {
    text-align: center;
    padding: 20px;
    color: rgb(7, 42, 117);
}

.content {
    display: flex;
    justify-content: center;      
    align-items: flex-start;      
    gap: 30px;                    
    flex-wrap: wrap;              
    padding: 40px 20px;
}


.left,
.right {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    flex: 1 1 45%;               
    max-width: 500px;           
    min-width: 300px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: rgb(31, 79, 235);
    color: white;
    padding: 8pt;
    margin: 20px auto;
    border: none;
    border-radius: 0.3rem;
    display: block;
}

.contact-form button:hover {
    background-color: #10d21d;
    cursor: pointer;
}

.boxes {
    margin-bottom: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 0.2rem;
}

.boxes h3 {
    color: #0070d2;
    margin-bottom: 5px;
    padding-bottom: 16px;
}

.btn1 {
    background-color: rgb(31, 79, 235);
    color: white;
    padding: 8pt;
    margin: 20px auto;
    border: none;
    border-radius: 0.3rem;
    font-size: 14px;
}

.boxes button:hover {
    background-color: #005bb5;
    cursor: pointer;
}

.btnlast {
    background-color: white;
    color: rgb(31, 79, 235);
    padding: 10pt;
    margin: 15px auto;
    border: none;
    border-radius: 0.3rem;
    font-size: 14px;
}

.helpbox button:hover {
    background-color: #b4c5d6;
    cursor: pointer;
}

.helpbox {
    background-color: rgb(31, 79, 235);
    color: white;
    padding: 15px;
    border-radius: 1rem;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.btngrp {
    display: flex;
    justify-content: center;
    gap: 5px;
}
